APP_NAME = Gitea: Git with a cup of tea
RUN_USER = git
RUN_MODE = prod

[database]
DB_TYPE  = mysql
HOST     = {{ gitea_db_host }}
NAME     = {{ gitea_db_name }}
USER     = {{ gitea_db_user }}
PASSWD   = {{ gitea_db_pass }}
SSL_MODE = disable
PATH     = data/gitea.db

[repository]
ROOT = {{ gitea_repo_path }}

[server]
SSH_DOMAIN   = {{ gitea_server_domain }}
HTTP_PORT    = {{ gitea_server_port }}
ROOT_URL     = {{ gitea_server_url }}
DISABLE_SSH  = {{ gitea_server_ssh }}
SSH_PORT     = {{ gitea_server_ssh_port }}
OFFLINE_MODE = {{ gitea_server_offline }}

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM = false
ENABLE_NOTIFY_MAIL     = false
DISABLE_REGISTRATION   = true
ENABLE_CAPTCHA         = false
REQUIRE_SIGNIN_VIEW    = true

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = false

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = Info
ROOT_PATH = /opt/gitea/log

[security]
INSTALL_LOCK = true
SECRET_KEY   = tbtxDv0bAJ

